<div class='container'>
  <blockquote class="blockquote">
    <p class="mb-0"><%= @question %></p>
    <footer class="blockquote-footer">Me<cite title="Source Title"> - just now</cite></footer>
  </blockquote>
  <blockquote class="blockquote">
    <p class="mb-0"><%= @answer %></p>
    <footer class="blockquote-footer">My coach<cite title="Source Title"> - a few seconds after just now</cite></footer>
  </blockquote>
</div>
<div class="container">
  <%= link_to "Ask a new question", 'ask' %>
</div>
